/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


header{
    display:flex;
    justify-content: space-between;
}
.nav-booki{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 161.09px;
    height: 79px;
}
.logo-booki{
    width:61.09px;
    height: 19px;
}

nav{
    display:flex;
    justify-content: center;
    align-items: start;
}
.nav-button{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: end;
    width: 244px;
    height:35px;
    padding: 0%;
    margin: 0%;
}
.nav-hebergements{
    border-top:solid #0065FC;
    border-top-width: 2px;
    color: #0065FC;
    display: flex;
    align-items: end;
    height: 35px
    
}
.nav-activites{
    display: flex;
    align-items: end;
    height: 35px
}
.info-group{
    height:281px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
}
.headline{
    display: flex;
    flex-direction: column;
    
}
h1{
    margin-bottom:10px;
    font-size: 22px;
}
.text-headline{
    margin-top:0;
    margin-bottom: 30px; 
}

.filtres{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    align-items: start;
    width:758px;
    padding: 0;
    margin-top: 30px;
    margin-bottom:30px;

}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 2px #D9D9D9;
    border-radius: 25px;
    height:46px
}
.p-filtre{
    width:54px;
    height:21px;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;

}
.num1{
    width:169px;
}
.num2{
    width:130px;
}
.num3{
    width:166px;
    
}
.num4{
    width:163px;
}
.filter:hover{
background-color: #D9D9D9;
}


.texte-filtre{
    margin: 0;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    cursor: default;
}

.filterbar{
    display: flex;
    justify-content: start;
    align-items: center;

}
form{
    display: flex;
    
}
#searchbar{
    width: 195px;
    height: 47px;
    border:0;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size:18px;
    
    
}
.search-bar{
    width:375px;
    height:47px;
    display: flex;
}
.logo-position{
    width:48px;
    height:45px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px #F2F2F2;
    background-color: #F2F2F2;
}
.btn-search{
    width:130px;
    height:47px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color:#ffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: solid 1px #0065FC;
    background-color:#0065FC;
    
}
.info-text{
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 2px;
    margin-left: 10px;
}
.btn-info{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: solid 1px #D9D9D9;
}
.infobar{
    display: flex;
    align-items: center;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}