/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}



.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******Navigation******/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: end;
    align-self: start;
    height: 50%;
    width: 50%;
    
}
header a{
    height: 100%;
    display: flex;
    align-items: end;
}
header li{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}
.nav-button{
    display: flex;
    justify-content: space-between;
    gap: 68px;
    list-style: none;
    width: 50%;
    margin: 0;
    padding: 0;
}
.nav-booki{
    display:flex;
    width: 50%;
    height: 35%;
    justify-content: start;
    align-self: end;
}
.logo-booki{
    
    height: 100%;

}
header a:hover{
    border-top:solid #0065FC;
    border-top-width: 2px;
    color: #0065FC;
}


/****** search and filters******/
.info-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}
.headline{
    display: flex;
    flex-direction: column;
    gap:8px;
}
h1{
    margin:0;
    font-size: 22px;
}
.text-headline{
   margin:0;
}
.filtres{
    list-style-type: none;
    display:flex;
    gap: 15px;
    align-items: center;
    width:90%;
    height: 100%;
    padding: 0;
    margin:0;
    

}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 2px #D9D9D9;
    border-radius: 25px;
    margin:0;
    padding: 13px 0px 13px 10px;
    gap: 10px;

}
.group{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 50%;
    height: 100%;
}
.p-filtre{
    
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    

}

.num1{
    width:60%;
}
.num2{
    width:40%;
}
.num3{
    width:53%;
    
}
.num4{
    width:47%;
}
.filter:hover{
background-color: #DEEBFF;
}
.texte-filtre{
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    cursor: default;
    margin: 0;
}
.filterbar{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    width: 65%;
    height: 100%;

}
form{
    display: flex;
    
}
.search{
    display: flex;
    padding: 5px;
}
.loupe{
    visibility: hidden;
    color: #ffff !important;
}
#searchbar{
    width: 60%;
    border:0;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size:18px;
    
    
}
.search-bar{
    width:40%;
    
    display: flex;
}
.logo-position{
    width:13%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px #F2F2F2;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-location-dot{
    color: black !important;
}
.btn-search{
    width:40%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color:#ffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: solid 1px #0065FC;
    background-color:#0065FC;
    padding: 15px 16px;
    
}
.search{
    padding: 0;
}
.info-text{
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    
}
.btn-info{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: solid 1px #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infobar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-text{
    margin-top: 5px;
}

/****** Footer ******/
footer{
    display:flex;
    justify-content: space-between;
    background-color:#F2F2F2 ;
   
}
.footer-title{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.footer-txt{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.footer-containt{
    padding: 20px;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards{
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 30px;
}
.hebergements-cards a{
    width: 33%;
    height: 100%;
    margin: 0px;
}
.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}
.hebergements-cards .card{
    display:flex;
    flex-direction: column;
    height: 100%;
}
.hebergements-cards .card-content {
    width: 100%;
    padding:15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 8px;
    
}
.hebergements-cards .card-txt{
    display:flex;
    flex-direction: column;
    gap:8px
}
.hebergements-cards .card-title {
    width: 100%;
    margin:0;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.more{
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
   
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin:0;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******Activités ***********/
.activites{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.activites-cards{
    display:flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 0;
    margin-right: 0;
    
}
.activites-cards .card{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.activites-cards img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites .card{
    width: 100%;
    height: 100%;
}
 
.activites h4{
    font-weight:700;
    margin: 20px;
}
.activites a{
    width: 25%;
    
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    .hebergements-cards .card-subtitle {
        font-size: 14px;
    }
    .hebergements-cards a{
        width: 30%;
    }
    .activites-cards img{
        height: 200px;
    }
    /* .num1{
        width: 163px
    }
    .num2{
        width: 127px;
    }
    .num3{
        width:160px;
    }
    .num4{
        width: 157px;
    } */
    .filter{
        padding: 15px 0 15px 10px;
    }
    .filterbar{
        width: 80%;
    }
    .search-bar{
        width: 50%
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */
    
html{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 35px;
    padding: 0;
    gap: 35px;
}
.main-container{
    padding: 0;
}

.hebergements {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    padding: 20px !important;
}
  .populaires-cards{
    flex-direction: column;
    gap: 15px;
  }  
  .populaires-cards a{
    width: 100%;
  }
 .filterbar{
    flex-direction: column;
    align-items: center;
    width: 335px; 
    gap:20px;
}
 .info-group{
    padding: 0 ;
    align-items: center;
    width: 375px;
 }
 .filtres{
    flex-direction: column;
    width: 100%;
    margin: 0px;
    gap:20px;

 }
 .p-filtre{
    margin:0;
 }
 header{
    flex-direction: column;
    align-items: center;
 }
 .nav-button{
    width: 100%;
    height: 100%;
    justify-content: space-around;
 }
 nav{
    width:100%;
    height: 36px;
 }
 .nav-hebergements:hover {
    border-bottom: solid #0065FC;
    border-bottom-width: 2px;
    border-top:  none;
    color: #0065FC;
}
 .nav-activites:hover {
    border-bottom: solid #0065FC;
    border-bottom-width: 2px;
    border-top:  none;
    color: #0065FC;
}
.nav-hebergements{
    width: 100%;
    height: 34px;
    justify-content: center;
    align-items: start;
    border-bottom: solid #F2F2F2;
    border-bottom-width: 2px;
}
.nav-activites{
    width: 100%;
    height:34px;
    border-bottom: solid #F2F2F2;
    border-bottom-width: 2px;
    justify-content: center;
    align-items: start;
}
.nav-button li{
    width:50%;
     height: 36px;
    display: flex;
    justify-content: center;
}
.nav-booki{
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1{
    width: 335px;
    height: 52px;
    font-weight: 700;
    margin: 0;
}
.headline{
    width: 335px;
    height: 79px;
    gap: 8px;
}
.headline p{
    margin: 0;
    
}
.filter{
    width: 158.5px;
    margin: 0;
}
.group{
    gap: 10px;
}
.search-bar{
    width: 335px;
}
.logo-position{
    width: 50px;
    
}
.btn-search{
    width: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25))
}
.recherche{
    visibility: hidden;
    
}
.loupe{
    visibility: visible;
    order: -1;
    padding: 5px;
    padding-top: 7px;
}
#searchbar{
    width: 236px;
}
.search{
    flex-direction: column;
}
.info-group{
    height: 432px;
    margin:0;
    padding-bottom: 0;
    gap: 35px;
}
.info-text{
    width: 301px;
    height: 38px;
}
.infobar{
    width: 335px;
}
.populaires{
    margin-top: 0;
    width: 100%;
    gap:15px;
    order: -1;
    display: flex;
    flex-direction: column;
}
.populaires-cards .card{
    width: 100%;
    margin-top: 0;
    padding-right: 0;
}
.hebergements-and-populaires section{
    padding: 30px 20px 30px 20px;
    border-radius: 0;
    
}
.hebergements-and-populaires{
    width: 100%;
    gap: 15px;

}
.hebergements{
    width: 100%;
    gap:15px;
    
}
.hebergements-cards{
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    margin:0;
}
.hebergements-cards .card-title{
    margin-top: 0px;
}
.hebergements-cards .card{
    padding-bottom: 0;
}
.hebergements-cards a{
    width: 100%;
    margin:0;
   
}
.activites-cards{
    flex-direction: column;
    margin: 0;
    width: 100%;
    gap: 15px;
}
.activites{
    margin:0;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.activites-cards a{
    margin: 0;
    width: 100%;
}
.activites-cards img{
    height: 141px;
}
.p-filtre{
    align-self: start;
}
footer{
    flex-direction: column;
    padding: 30px;
    gap: 50px;
}
.footer-containt{
    width: 80%;
    padding: 0;
}
body{
    margin:0;
}
}